source_url "https://raw.githubusercontent.com/cachix/devenv/82c0147677e510b247d8b9165c54f73d32dfd899/direnvrc" "sha256-7u4iDd1nZpxL4tCzmPG0dQgC5V+/44Ba+tHkPob1v2k="

export GOOGLE_API_KEY=AIzaSyADCTpMcU9YQgePIAJZr5LtmUDqyAJwYj8
export SESSION_KEY=AJVsH2xsj5fq_WWvQoRpr0Q-LR9xAeclwy5efISCJNKtWioDqJvHQdvb1MfqSgrcU_3I3EH_2CiHBy4xTIE7je9juQ
use devenv
