source_url "https://raw.githubusercontent.com/cachix/devenv/82c0147677e510b247d8b9165c54f73d32dfd899/direnvrc" "sha256-7u4iDd1nZpxL4tCzmPG0dQgC5V+/44Ba+tHkPob1v2k="

export GOOGLE_API_KEY=AIzaSyADCTpMcU9YQgePIAJZr5LtmUDqyAJwYj8
export VITE_API_KEY=AIzaSyADCTpMcU9YQgePIAJZr5LtmUDqyAJwYj8
export VITE_SESSION_KEY=AJVsH2zMhdb_Dl3-wNjYV0Wycv8BlbmWO5GkUOSvpcX4LOfklj0aXBVMLz-9zJggw0bmApuPo7ToxeXIAtpQHbSpzA
export SESSION_KEY=AJVsH2zMhdb_Dl3-wNjYV0Wycv8BlbmWO5GkUOSvpcX4LOfklj0aXBVMLz-9zJggw0bmApuPo7ToxeXIAtpQHbSpzA
use devenv
